.like-btn
    width: 40px
    height: 40px
    border-radius: 50%
    background-color: #fff
    display: flex
    cursor: pointer
    svg
        margin: auto
        path
            transition: .3s ease
    &:hover
        svg
            path
                stroke: $accent

    &.active
        svg
            path
                stroke: $accent
                fill: $accent

.metro
    display: inline-flex
    text-decoration: none
    &__icon
        margin-right: 5px
        margin-top: auto
        margin-bottom: auto
        display: flex
        svg
            margin-top: auto
            margin-bottom: auto
    &__title
        font-style: normal
        font-weight: 400
        font-size: 16px
        line-height: 160%
        color: #191919
        margin-top: auto
        margin-bottom: auto
        transition: .3s ease
    &:hover
        .metro
            &__title
                color: $accent

.district
    display: inline-flex
    text-decoration: none
    &__icon
        margin-right: 5px
        margin-top: auto
        margin-bottom: auto
        display: flex
        svg
            margin-top: auto
            margin-bottom: auto
    &__title
        font-style: normal
        font-weight: 400
        font-size: 16px
        line-height: 160%
        color: #191919
        margin-top: auto
        margin-bottom: auto
    &:hover
        .district
            &__title
                color: $accent

.map-icon
    display: inline-flex
    text-decoration: none
    text-decoration: none
    &__icon
        margin-right: 5px
        margin-top: auto
        margin-bottom: auto
        display: flex
        svg
            margin-top: auto
            margin-bottom: auto
            path
                transition: .3s ease
    &__title
        font-style: normal
        font-weight: 400
        font-size: 16px
        line-height: 160%
        color: #191919
        margin-top: auto
        margin-bottom: auto
        transition: .3s ease
    &:hover
        .map-icon
            &__icon
                svg
                    path
                        stroke: $accent
            &__title
                color: $accent
.square
    display: inline-flex
    text-decoration: none
    cursor: default
    &__icon
        margin-right: 5px
        margin-top: auto
        margin-bottom: auto
        display: flex
        svg
            margin-top: auto
            margin-bottom: auto
    &__title
        font-style: normal
        font-weight: 400
        font-size: 16px
        line-height: 160%
        color: #191919
        margin-top: auto
        margin-bottom: auto

.card
    border: 1px solid rgba(25,25,25,.3)
    border-radius: 5px
    overflow: hidden
    user-select: none
    margin-bottom: 20px
    &__img
        position: relative
        .like-btn
            position: absolute
            top: 10px
            right: 10px
            z-index: 2

    &__content
        &-text
            display: none
    &__title
        font-style: normal
        font-weight: 400
        font-size: 20px
        line-height: 160%
        text-align: center
        color: #191919
        height: 72px
        display: flex
        padding-left: 10px
        padding-right: 10px
        a
            margin: auto
            color: #191919
            text-decoration: none
            transition: .3s ease
            &:hover
                color: $accent

    &__meta
        padding-left: 10px
        padding-right: 10px
        &-top
            display: flex
            justify-content: space-between
            margin-bottom: 10px

    &__price
        padding-left: 10px
        padding-right: 10px
        font-style: normal
        font-weight: 500
        font-size: 20px
        line-height: 160%
        color: #191919
        position: relative
        text-align: center
        padding-top: 20px
        padding-bottom: 20px
        margin-top: 20px
        &:before
            content: ''
            display: block
            width: calc(100% - 20px)
            height: 1px
            position: absolute
            top: 0
            left: 10px
            background: rgba(25,25,25,.3)
    &__tile
        display: block
    
    &__list
        display: none

    .card__tags
        padding-left: 10px
        padding-right: 10px
        display: flex
        span
            padding: 5px 8px
            background: #A3032B
            border-radius: 3px
            font-style: normal
            font-weight: 400
            font-size: 12px
            line-height: 160%
            color: #FFFFFF
            margin-right: 9px
            &:last-child
                margin-right: 0

    &_new
        height: 100%
        position: relative
        padding-bottom: 78px
        margin-bottom: 0
        .card
            &__content
                padding-top: 20px
            &__tags
                padding-left: 30px
                padding-right: 30px
                margin-bottom: 10px
                white-space: nowrap
            &__title
                text-align: left
                padding-left: 30px
                padding-right: 30px
                height: auto
                margin-bottom: 10px
                a
                    margin-left: 0
                    margin-right: 0
                    margin-top: 0
                    margin-bottom: 0

            &__meta
                padding-left: 30px
                padding-right: 30px
                display: flex
                flex-direction: column
                > *
                    margin-bottom: 10px
                    &:last-child
                        margin-bottom: 0

            &__price
                padding-left: 30px
                padding-right: 30px
                text-align: left
                padding-top: 10px
                padding-bottom: 20px
                font-weight: normal
                font-size: 17px
                position: absolute
                bottom: 0
                left: 0
                width: 100%
                &:before
                    left: 30px
                    width: calc(100% - 60px)
                .rub
                    width: 20px
                    display: inline-flex
                    margin-left: 10px
                    margin-right: 4px
                    svg
                        margin-left: auto
                        margin-right: auto
                        margin-top: auto
                .sum
                    font-size: 20px
                    font-weight: 500


.listed-catalog
    .col-item
        width: 100% !important
    .card
        display: flex
        .mini-slider
            .swiper-slide
                a
                    display: block
                    img
                        min-height: 255px
                        width: auto
                        object-fit: cover

        &__img
            width: 32%
            min-width: 32%
            max-width: 32%
            order: 1
        &__title
            margin-top: 10px
            padding-left: 0
            padding-right: 0
            a
                margin-left: 0
                margin-right: 0
        &__content
            padding-left: 30px
            padding-bottom: 30px
            padding-right: 30px
            padding-top: 20px
            order: 2
            &-text
                display: block
                font-style: normal
                font-weight: 400
                font-size: 18px
                line-height: 1.3333
                color: #191919

        &__price
            padding: 0
            margin: 0
            margin-bottom: 20px
            text-align: left
            &:before
                display: none
        &__tile
            display: none
        &__list
            padding-top: 20px
            padding-right: 30px
            margin: 0
            width: 20%
            min-width: 20%
            max-width: 20%
            display: flex
            padding-bottom: 30px
            flex-direction: column
            order: 3
            .metro, .district
                margin-bottom: 10px
            .square
                margin-bottom: 20px

        &_new
            padding-bottom: 0
            .card
                &__title
                    margin-top: 0
                &__content
                    display: flex
                    flex-direction: column
                &__tags
                    margin-top: 35px
                    order: 3
                    margin-bottom: 0
                    margin-top: 35px
                    padding-left: 0
                    padding-right: 0

                &__price
                    position: static


.mini-slider
    position: relative
    &-inner
        overflow: hidden

    .swiper-pagination
        position: absolute
        left: 0
        bottom: 18px
        opacity: 0
        transition: .3s ease
        display: flex !important

    .swiper-button-prev
        margin-left: 0
        left: 10px
        margin-top: -15px
        opacity: 0
        transition: .3s ease

    .swiper-button-next
        margin-left: 0
        left: auto
        right: 10px
        margin-top: -15px
        opacity: 0
        transition: .3s ease

    &:hover
        .swiper-pagination
            opacity: 1
        .swiper-button-prev
            opacity: 1
        .swiper-button-next
            opacity: 1
        

+media-breakpoint-down(xl)
    .card
        &_new
            .card
                &__title
                    padding-left: 20px
                    padding-right: 20px
                    font-size: 18px
                &__tags
                    padding-left: 20px
                    padding-right: 20px
                    span
                        font-size: 10.5px
                &__price
                    padding-left: 20px
                    padding-right: 20px
                    &:before
                        left: 20px
                        width: calc(100% - 40px)
                &__meta
                    padding-left: 20px
                    padding-right: 20px

    .listed-catalog
        .card
            .mini-slider
                .swiper-slide
                    a
                        img
                            min-height: 255px

            &__img
                width: 36%
                min-width: 36%
                max-width: 36%
            &__content
                padding-left: 30px
                padding-bottom: 30px
                padding-right: 30px
                &-text
                    font-size: 16px
            &__price
                margin-bottom: 20px
            &__list
                padding-top: 30px
                padding-right: 30px
                width: 24%
                min-width: 24%
                max-width: 24%

            &_new
                .card
                    &__list
                        padding-top: 20px
                        padding-bottom: 20px
                    &__title
                        padding-left: 0
                        padding-right: 0

                    &__tags
                        margin-top: 20px

                    &__price
                        padding-left: 0
                        padding-right: 0

                    &__content
                        padding: 20px


+media-breakpoint-down(lg)
    .listed-catalog
        .card
            flex-wrap: wrap
            .mini-slider
                .swiper-slide
                    a
                        img
                            min-height: 255px

            &__img
                width: 100%
                min-width: 100%
                max-width: 100%
            &__content
                width: 100%
                min-width: 100%
                max-width: 100%
                padding-left: 30px
                padding-bottom: 30px
                padding-right: 30px
                margin-top: auto
                &-text
                    font-size: 16px
            &__title
                margin-top: 0
            &__price
                margin-bottom: 20px
                width: 100%
                min-width: 100%
                max-width: 100%
                padding-left: 0
                padding-right: 0
            &__list
                width: 100%
                min-width: 100%
                max-width: 100%
                padding-top: 0
                padding-left: 30px
                padding-right: 30px
                margin-top: auto

        .card
            &_new
                .card__list
                    padding-top: 0
                    padding-left: 20px
                    padding-right: 20px
                    display: flex
                    flex-direction: column
                .card__price
                    margin-top: 20px
                    order: 3
                    margin-bottom: 0
+media-breakpoint-down(md)
    .card
        &_new
            .card
                &__title
                    font-size: 20px



