.icon_metro
    color: #3579C1
    &__title
        font-style: normal
        font-weight: 400
        font-size: 16px
        line-height: 160%
        color: #3579C1
        margin-top: auto
        margin-bottom: auto


.filter
    &__top
        display: flex
    &__main
        padding: 30px
        background-color: #fff
        border-radius: 5px
        border-top-left-radius: 0
    .icon
        cursor: pointer
        &:hover
            color: $accent
    .row-bot
        margin-top: 30px
        .btn
            margin-bottom: 0

    .more_icon
        color: #3579C1
        display: none

    .hide_icon
        color: #3579C1
        display: none
        .icon__title
            color: #3579C1

    &-radio
        width: 230px
        overflow: hidden
        &:first-child
            border-top-left-radius: 5px
        &:last-child
            border-top-right-radius: 5px


.filter-options
    display: flex
    justify-content: space-between
    &__found
        font-style: normal
        font-weight: 550
        font-size: 16px
        line-height: 160%
        color: #191919
    >*
        margin-top: auto
        margin-bottom: auto
    &__map
        text-decoration: none
        display: flex
        &-icon
            margin-top: auto
            margin-bottom: auto
            margin-right: 10px
            display: flex
        &-text
            font-style: normal
            font-weight: 400
            font-size: 16px
            line-height: 100%
            color: #A3032B
            margin-top: auto
            margin-bottom: auto
            text-decoration: none
    &__views
        display: flex

    &__view
        display: flex
        opacity: .5
        transition: .3s ease
        cursor: pointer
        margin-left: 10px
        margin-right: 10px
        &-icon
            margin-top: auto
            margin-bottom: auto
            margin-right: 10px
            display: flex
            svg
                margin: auto
                path
                    transition: .3s ease
        &-text
            margin-top: auto
            margin-bottom: auto
            font-style: normal
            font-weight: 400
            font-size: 16px
            line-height: 100%
            color: #191919
            transition: .3s ease
        &:hover
            opacity: 1
            .filter-options
                &__view
                    &-icon
                        svg
                            path
                                stroke: #A3032B
                    &-text
                        color: #A3032B
        &.active
            opacity: 1
            cursor: default
            .filter-options
                &__view
                    &-icon
                        svg
                            path
                                stroke: #A3032B
                    &-text
                        color: #A3032B


    &__sort
        display: flex
        &-title
            font-style: normal
            font-weight: 400
            font-size: 16px
            line-height: 160%
            color: #191919
            opacity: 0.5
        a
            margin-left: 20px
            font-style: normal
            font-weight: 400
            font-size: 16px
            line-height: 160%
            color: #A3032B
            text-decoration: none
            transition: .3s ease
            &:hover
                color: #191919
            &.active
                cursor: default
                color: #191919


.row-options
    margin-top: 60px
    margin-bottom: 30px
    
.row-catalog-filter
    .filter
        &__main
            filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.04)) drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.06))
        
    .filter-radio
        box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.1)


.filter.openned
    .more_icon
        display: none

    .hidden-mob
        display: block !important
    

+media-breakpoint-down(xl)
    .filter 
        .row-bot 
            .btn
                font-size: 15px

    .filter-options
        flex-direction: column
        &__found, &__map
            margin-bottom: 10px

        &__views
            margin-bottom: 10px

        &__view
            margin-left: 0
            margin-right: 20px

+media-breakpoint-down(lg)
    .filter
        .form__input, .select
            margin-bottom: 20px

        .row-bot
            margin-top: 20px

        .icon
            justify-content: center
        .more_icon
            display: flex

        .row-bot 
            .btn
                margin-bottom: 20px
        .hide_icon
            display: flex

+media-breakpoint-down(md)
    .filter
        &__main
            padding: 20px 10px
        .form-group_with-select
            flex-wrap: wrap
            .form__input
                border-radius: 5px
            .select
                border-radius: 5px
                width: 100%

    .filter-options
        &__sort
            &-title
                display: none

            a
                margin-left: 0
                margin-right: 20px

@media (max-width: 482.98px)
    .filter__main
        border-top-right-radius: 0