@use 'sass:math'
@use 'sass:color'

@import config
@import 'blocks/**/*'
    
.section-intro-cats
    background-repeat: no-repeat
    background-position: center
    position: relative
    background-size: cover
    padding-top: 260px
    padding-bottom: 150px
    .cats-list
        margin-top: 60px
    .heading_lg
        margin-bottom: 10px
    .btn-block
        margin-top: 20px
        max-width: 360px
        margin-left: auto
        margin-right: auto
        .btn
            width: 100%


.section-intro
    height: 800px
    background-repeat: no-repeat
    background-position: center
    position: relative
    background-size: cover
    padding-top: 80px
    &:before
        content: ''
        display: block
        width: 100%
        height: 100%
        top: 0
        left: 0
        background-color: #191919
        opacity: .4
        position: absolute
    .container
        position: relative
        z-index: 1
    .heading_lg
        margin-bottom: 10px

    .filter
        margin-top: 60px

    .tags-list
        margin-top: 30px
        .tag_more
            display: none

.section-cats
    padding-top: 80px
    padding-bottom: 80px

.section-offers
    padding-top: 80px
    padding-bottom: 80px  
    .heading-main
        margin-bottom: 10px

    .row-slider
        margin-top: 50px

.section-quiz
    background-repeat: no-repeat
    background-position: center
    position: relative
    background-size: cover
    background-image: url(../images/dist/bg-quiz.jpg)
    padding-top: 80px
    padding-bottom: 80px
    .block
        margin-left: auto
        
        .heading-main
            margin-bottom: 10px

        .heading_sm
            margin-top: 50px
        .btn
            margin-top: 30px


.section-hot-offers
    padding-top: 80px
    padding-bottom: 80px
    .heading
        margin-bottom: 50px

    .tabs-headers
        margin-bottom: 50px

    .row-more
        margin-top: 30px

.section-features
    padding-top: 80px
    padding-bottom: 80px
    .heading
        margin-bottom: 10px
    .feature-list
        margin-top: 40px

.section-about
    background-repeat: no-repeat
    background-position: center
    position: relative
    background-size: cover
    background-image: url(../images/dist/bg-about.jpg)
    padding-top: 80px
    padding-bottom: 80px
    .block
        .heading
            margin-bottom: 20px
        .btn
            margin-top: 50px
        
.section-experts
    padding-top: 80px
    padding-bottom: 80px
    .heading
        margin-bottom: 50px

    .expert-slider
        margin-bottom: 50px


.section-digits
    padding-top: 80px
    padding-bottom: 80px
    .digit
        margin-top: 60px


.section-about-page
    padding-top: 80px
    padding-bottom: 80px
    .heading_md
        margin-bottom: 60px

.section-vacancy-page
    padding-top: 80px
    padding-bottom: 80px
    .heading_md
        margin-bottom: 20px

    .feature-list
        margin-top: 40px


.section-vacancy
    padding-top: 80px
    padding-bottom: 80px
    .heading_md
        margin-bottom: 60px

    .vacancy
        margin-bottom: 20px
        &:last-child
            margin-bottom: 0

.section-graph
    padding-top: 80px
    padding-bottom: 80px
    .graph-legend
        margin-top: 40px
    img.graph
        margin-top: -238px
        max-width: 100%
        height: auto

.section-banner-desc
    padding-top: 60px
    padding-bottom: 60px

.section-condition
    padding: 80px 0
    .heading_md
        margin-bottom: 30px
    .cond-block
        margin-top: 60px
        padding-right: 20px
        border-right: 1px solid rgba(0,0,0,.3)
        font-style: normal
        font-weight: 400
        font-size: 18px
        line-height: 160%
        color: #333333
        &__title
            font-style: normal
            font-weight: 550
            font-size: 24px
            line-height: 140%
            color: #A3032B
            margin-bottom: 30px
        &__semi-title
            margin-bottom: 20px
            font-style: normal
            font-weight: 550
            font-size: 20px
            line-height: 130%
            color: #191919
        &_last
            border-right: 0

.section-certs
    padding: 60px 0

.cert-slider
    position: relative
    overflow: hidden
    &__item
        .frame
            margin-left: auto
            margin-right: auto
            width: 255.5px
            height: 315px
            position: relative
            left: -5px
            background-repeat: no-repeat
            background-position: 0 0
            background-size: cover
            background-image: url(../images/dist/frame.png)
            padding-top: 52px
            padding-left: 51px
            cursor: pointer
            img
                width: 162px
                height: auto

    .swiper-button-prev, .swiper-button-next
        width: 50px
        height: 51px
        position: absolute
        z-index: 2
        top: 50% !important
        margin-top: -25px !important
        margin-left: 0 !important
        background-color: transparent
        svg
            width: 50px
            height: 51px
            path, rect
                transition: .3s ease
        &:after
            display: none

        &:hover
            svg
                path
                    stroke: $accent

    .swiper-button-prev
        left: 0
        transform: rotate(180deg)
    .swiper-button-next
        left: auto
        right: 0
        transform: rotate(0)


.section-office
    padding-top: 80px
    padding-bottom: 80px
    img
        margin-top: 20px
        border-radius: 5px
    .heading_sm
        margin-bottom: 10px

    .contact-info
        margin-top: 150px
    .addr
        margin-bottom: 30px
        &__title
            color: $textcolor

    .phone
        margin-bottom: 30px

    .soc
        margin-top: 30px

.section-feedback
    padding-top: 80px
    padding-bottom: 80px

    .heading
        margin-bottom: 50px

.section-journal
    padding-top: 80px
    padding-bottom: 80px
    .heading
        margin-bottom: 50px

    .btn
        margin-top: 50px

.section-contact-us
    background-repeat: no-repeat
    background-position: center
    position: relative
    background-size: cover
    background-image: url(../images/dist/bg-offer.jpg)
    padding-top: 80px
    padding-bottom: 80px
    .form
        margin-top: 30px
    .heading
        margin-bottom: 20px


.section-contact-us_map
    .container
        position: relative
        z-index: 2
    .map
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background-size: cover
        background-position: center
        background-repeat: no-repeat

.section-partners
    padding-top: 80px
    padding-bottom: 80px
    .heading
        margin-bottom: 45px    


.section-3d
    padding-top: 80px
    padding-bottom: 80px


img.featured
    border-radius: 5px
    max-width: 100%
    height: auto

.main
    padding-bottom: 80px
    .journal
        margin-bottom: 20px
    .breadcrumbs
        margin-top: 20px
    .heading-main
        margin-top: 80px
        margin-bottom: 60px
    .tags
        margin-bottom: 60px 
    .pagination
        margin-top: 35px

.single
    padding-bottom: 80px
    .breadcrumbs
        margin-top: 20px
        margin-bottom: 80px
    img.featured
        margin-bottom: 30px

    img
        border-radius: 5px
    .video
        margin: 1em 0

    .quote
        margin: 1em 0

.typo
    font-style: normal
    font-weight: 400
    font-size: 18px
    line-height: 138%
    color: #191919
    p
        margin: 1em 0

    h1, h2, h3, h4, h5, h6
        font-style: normal
        font-weight: 400
        font-size: 30px
        line-height: 1
        margin: 1em 0
        &:first-of-type
            margin-top: 0
    h1
        font-size: 40px
    h1
        font-size: 36px
    h3
        font-size: 30px

    a
        color: #0678E2
        text-decoration: none
        &:hover
            text-decoration: underline

    .table-responsive
        overflow-x: auto
        width: 100%

    table
        margin: 1em 0
        width: 100%
        th
            padding: 20px 5px
            font-style: normal
            font-weight: 550
            font-size: 18px
            line-height: 140%
            border-bottom: 1px solid rgba(25,25,25,1)
        td
            padding: 20px 5px
            font-style: normal
            font-weight: 400
            font-size: 18px
            line-height: 140%
            border-bottom: 1px solid rgba(25,25,25,.5)


    ul
        margin: 1em 0
        li
            list-style-position: inside
            list-style-type: disc

    .list
        li
            list-style: none
            padding-left: 30px
            font-style: normal
            font-weight: 400
            font-size: 16px
            line-height: 160%
            position: relative
            color: #191919
            margin: 0.5em 0
            &:before
                content: ''
                display: block
                width: 20px
                height: 21px
                position: absolute
                top: 3px
                left: 0
                background-repeat: no-repeat
                background-position: 0 0
                background-image: url(../images/dist/list.svg)

    .img
        margin: 1em 0
        img
            max-width: 100%
            height: auto

        &__caption
            margin-top: 10px
            font-style: normal
            font-weight: 400
            font-size: 14px
            line-height: 160%
.quote
    font-style: normal
    font-weight: 400
    font-size: 30px
    line-height: 120%
    color: #191919
    padding-top: 36px
    padding-left: 60px
    padding-right: 180px
    padding-bottom: 55px
    border: 1px solid rgba(25,25,25,.3)
    border-radius: 5px
    position: relative
    &:after
        content: ''
        display: block
        width: 64px
        height: 50px
        top: 36px
        right: 60px
        position: absolute
        background-repeat: no-repeat    
        background-position: 0 0
        background-image: url(../images/dist/q.svg)
    &__author
        margin-top: 60px
        font-style: normal
        font-weight: 400
        font-size: 18px
        line-height: 138%
        color: #191919



.video
    cursor: pointer
    position: relative
    img
        max-width: 100%
        height: auto
    &:after
        content: ''
        display: block
        width: 78px
        height: 80px
        background-repeat: no-repeat
        background-position: 0 0
        position: absolute
        top: 50%
        margin-top: -40px
        left: 50%
        margin-left: -39px
        background-image: url(../images/dist/play.svg)
    &:before
        content: ''
        display: block
        width: 100%
        height: 100%
        position: absolute
        top: 0
        left: 0
        background-color: rgba(25,25,25,.5)

.callblock
    padding: 39px 77px
    display: flex
    border-radius: 5px
    margin: 3em 0
    border: 1px solid rgba(25,25,25,.3)
    .btn
        width: 240px
    &__text
        font-style: normal
        font-weight: 700
        font-size: 22px
        line-height: 22px
        color: #191919
        margin-right: 40px
        flex-grow: 1
    *
        margin-top: auto
        margin-bottom: auto

+media-breakpoint-down(xl)
    .section-office 
        .contact-info
            margin-top: 120px

    .section-cats, .section-offers, .section-quiz, .section-hot-offers, .section-features, .section-about, .section-experts, .section-office, .section-feedback, .section-journal, .section-contact-us, .section-partners
        padding-top: 60px
        padding-bottom: 60px
    .section-intro
        padding-top: 60px
+media-breakpoint-down(lg)
    .section-intro
        height: auto
        padding-bottom: 60px
        .tags-list
            display: block
            margin-top: 40px
            &__title
                margin-bottom: 20px
            .tag
                display: none
            .tag:nth-child(-n+4)
                display: block
            .tag_more
                display: block
    .section-office
        .heading_sm
            margin-top: 30px
        .contact-info
            margin-top: 40px

    .section-journal
        .journal
            margin-bottom: 20px
        .btn
            margin-top: 30px

    .section-3d
        padding-top: 60px
        padding-bottom: 60px

+media-breakpoint-down(lg)
    .section-intro 
        .filter
            margin-top: 40px

    .section-intro-cats
        padding-top: 60px
        padding-bottom: 80px

    .section-3d
        .d3-slider
            margin-top: 40px



    .section-contact-us_map
        padding-bottom: 0
        .container
            position: relative
            z-index: 2
        .map
            margin-top: 60px
            position: static
            min-height: 600px

    .main
        padding-bottom: 40px
        .heading-main
            margin-top: 60px
            margin-bottom: 40px
        .tags
            margin-bottom: 40px 

    .typo
        h1
            font-size: 36px
        h1
            font-size: 32px
        h3
            font-size: 26px

    .single 
        .breadcrumbs
            margin-bottom: 60px

    .section-about-page
        padding-top: 60px
        padding-bottom: 60px
        .heading_md
            margin-bottom: 40px

    .section-vacancy-page
        padding-top: 60px
        padding-bottom: 60px

    .section-vacancy
        padding-top: 60px
        padding-bottom: 60px
        .heading_md
            margin-bottom: 40px

    .section-digits
        padding-top: 60px
        padding-bottom: 60px

    .digit
        &__title
            font-size: 30px
        &__text

    .section-graph
        padding-top: 60px
        padding-bottom: 60px
        .heading_md
            br
                display: none
        img.graph
            margin-top: 0

    .cert-slider .swiper-button-next, .cert-slider .swiper-button-prev
        display: block

    .banner-desc__img
        display: none

    .banner-desc__contet
        padding: 30px !important

    .section-banner-desc
        padding-top: 40px
        padding-bottom: 40px

    .section-condition
        .cond-block
            border: 0
    .section-condition
        padding-top: 60px
        padding-bottom: 60px
+media-breakpoint-down(md)
    .section-quiz 
        .block 
            .heading_sm
                margin-top: 30px

    .section-about 
        .block 
            .btn
                margin-top: 30px


    .quote
        padding-top: 16px
        padding-left: 20px
        padding-right: 80px
        padding-bottom: 25px
        font-size: 18px
        &:after
            right: 10px  

        &__author
            margin-top: 30px
            font-size: 16px

    .callblock 
        padding: 15px 30px
        &__text
            font-size: 18px
    .section-digits 
        .digit
            margin-top: 40px
+media-breakpoint-down(sm)
    .callblock 
        padding: 10px 20px
        &__text
            font-size: 16px
            margin-right: 20px